*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    min-height: 100vh;
    scroll-behavior: smooth;
}

/* scroollbar personaizada*/
::-webkit-scrollbar{
    background-color: #1d1d1d;
    width: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

::-webkit-scrollbar-thumb{
    background-color: #f08109;
    border-radius: 5px;
}

.header{
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: orange;
    padding: 1.7rem;
    color: #fff;
}


.header__nav ul{
    display: flex;
    list-style: none;
    padding: 0;
    gap:2rem;
}

.header__nav li{
    padding: 0;
}

.header__nav a{
    text-decoration: none;
    text-transform: uppercase;
    background-color: red;
    padding: 1rem;
    color: #fff;
    border-radius: 20px;
}

.wrraper{
    background: rgb(255,140,0);
    background: linear-gradient(16deg, rgba(255,140,0,1) 21%, rgba(255,0,0,1) 92%);
}

.main__title{
    text-align: center;
    padding: 1.5rem;
    text-transform: uppercase;
    color: #fff;
}

.main__subtitle{
    text-align: center;
    padding: 3rem;
    text-transform: uppercase;
    color: #fff;
}

.content{
    padding: 1rem;
}
.content p{
    font-size: 25px;
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
}

.content ul{
    list-style: none;
    padding: 0;
}


/*usado para remover o menu mobile*/
@media screen and (min-width:750px){
    .header__mobile{
        display: none;
    }
}

/* css menu mobile*/
@media screen and (max-width:750px){
   .header{
    display: none;
   }

   .header__mobile{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 1.5rem;
    background-color: orange;
    color: #fff;
   }

   .header__nav__mob ul{
    display: flex;
    padding: 0;
    list-style: none;
   }

   .header__nav__mob li{
    padding: 0;
   }

   .header__nav__mob a{
    text-decoration: none;
    padding: 1.1rem;
    background-color: red;
    color: #fff;
    text-transform: uppercase;
    border-radius: 20px;
   }



}
